Backend/n8n_workflows/cv-extract-data-mock.json
{
    "name": "CV Extract Data (Mock Response)",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-cv",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-simple-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [240, 300],
            "webhookId": "simple-upload-cv"
        },
        {
            "parameters": {
                "jsCode": "// Return mock extracted data\nconst body = $input.item.json.body;\n\nreturn {\n  success: true,\n  message: \"CV processed successfully\",\n  extractedData: {\n    first_name: \"Giuseppe\",\n    last_name: \"Chiruzzi\",\n    email: \"giuseppe.chiruzzi@example.com\",\n    phone: \"+39 123 456 7890\",\n    current_position: \"React Developer\",\n    current_company: \"Tech Company\",\n    experience: 5,\n    skills: [\"JavaScript\", \"React\", \"Node.js\", \"TypeScript\"],\n    status: \"New\",\n    candidate_type: \"Employee\"\n  },\n  fileInfo: {\n    fileName: body.fileName,\n    savedFileName: body.savedFileName,\n    savedFilePath: body.savedFilePath\n  }\n};"
            },
            "id": "process-mock-1",
            "name": "Process CV (Mock)",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [460, 300]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [680, 300]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [[{
                "node": "Process CV (Mock)",
                "type": "main",
                "index": 0
            }]]
        },
        "Process CV (Mock)": {
            "main": [[{
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
            }]]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}
