Backend/n8n_workflows/cv-extract-data-ollama.json.bak
{
    "name": "CV Extract Data (Ollama AI)",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-cv",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-ollama-1",
            "name": "Webhook CV Upload",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [240, 400],
            "webhookId": "upload-cv-ollama"
        },
        {
            "parameters": {
                "jsCode": "// Get extracted text from PHP proxy\nconst body = $input.item.json.body;\n\nif (!body || !body.extractedText) {\n  throw new Error('Missing extractedText in request body. PDF extraction failed in PHP proxy.');\n}\n\nconst extractedText = body.extractedText;\n\n// Validate text length\nif (extractedText.length < 50) {\n  throw new Error('Extracted text too short (' + extractedText.length + ' chars). PDF may be image-based or extraction failed.');\n}\n\nreturn {\n  fileName: body.fileName,\n  fileSize: body.fileSize,\n  mimeType: body.mimeType,\n  extractedText: extractedText,\n  savedFilePath: body.savedFilePath,\n  savedFileName: body.savedFileName,\n  extractedLength: extractedText.length\n};"
            },
            "id": "extract-file-ollama",
            "name": "Extract File Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [460, 400]
        },
        {
            "parameters": {
                "jsCode": "// Prepare Ollama API payload\nconst extractedText = $input.item.json.extractedText;\n\nreturn {\n  payload: {\n    model: 'qwen2.5:7b',\n    prompt: 'Analyze the following CV/Resume text and extract candidate information. Look carefully for the candidate FULL NAME (both first name and last name), usually at the top of the CV. Return ONLY a valid JSON object with these exact fields: first_name, last_name, email, phone, linkedin, current_position, current_company, experience (years as integer), skills (array of skill names), location, expected_salary (number or null). IMPORTANT: If you cannot find last_name, try harder to find it in the document header, contact section, or signature. Extract only real data from the text, use null for missing information.\\n\\nCV Text:\\n' + extractedText + '\\n\\nJSON Response:',\n    stream: false,\n    options: {\n      temperature: 0.1,\n      top_p: 0.9\n    }\n  },\n  fileName: $input.item.json.fileName,\n  fileSize: $input.item.json.fileSize,\n  savedFilePath: $input.item.json.savedFilePath,\n  savedFileName: $input.item.json.savedFileName\n};"
            },
            "id": "prepare-ollama",
            "name": "Prepare Ollama Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [680, 400]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/generate",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.payload }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "ollama-api-cv",
            "name": "Call Ollama AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [900, 400]
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response\nconst aiResponse = $input.item.json.response;\nconst prevData = $('Prepare Ollama Payload').item.json;\nconst fileName = prevData.fileName || '';\n\n// Extract name from filename (e.g. \"Giuseppe Chiruzzi_Reactjs.pdf\" -> \"Giuseppe\" + \"Chiruzzi\")\nlet fileNameParts = fileName.replace(/\\.[^.]+$/, '').split(/[_\\s-]+/).filter(p => p.length > 2);\n\nlet extractedData = {};\n\ntry {\n  let jsonText = aiResponse.trim();\n  jsonText = jsonText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  extractedData = JSON.parse(jsonText);\n  \n  // Use filename as fallback for missing/invalid names\n  let firstName = extractedData.first_name || fileNameParts[0] || 'From';\n  let lastName = extractedData.last_name || fileNameParts[1] || 'CV';\n  \n  // Validate lastName length (min 3 chars)\n  if (lastName.length < 3) {\n    lastName = fileNameParts[1] || 'CV';\n  }\n  \n  extractedData = {\n    first_name: firstName,\n    last_name: lastName,\n    email: extractedData.email || null,\n    phone: extractedData.phone || null,\n    linkedin: extractedData.linkedin || null,\n    current_position: extractedData.current_position || null,\n    current_company: extractedData.current_company || null,\n    experience: parseInt(extractedData.experience) || 0,\n    skills: Array.isArray(extractedData.skills) ? extractedData.skills : [],\n    location: extractedData.location || null,\n    expected_salary: extractedData.expected_salary || null,\n    status: 'New',\n    candidate_type: 'Employee'\n  };\n} catch (e) {\n  // On error, use filename for names\n  extractedData = {\n    first_name: fileNameParts[0] || 'From',\n    last_name: fileNameParts[1] || 'CV',\n    email: null,\n    phone: null,\n    linkedin: null,\n    current_position: null,\n    current_company: null,\n    experience: 0,\n    skills: [],\n    location: null,\n    expected_salary: null,\n    status: 'New',\n    candidate_type: 'Employee',\n    _error: e.message\n  };\n}\n\nreturn {\n  success: true,\n  message: 'CV processed successfully',\n  extractedData: extractedData,\n  fileInfo: {\n    fileName: prevData.fileName,\n    savedFileName: prevData.savedFileName,\n    savedFilePath: prevData.savedFilePath\n  }\n};"
            },
            "id": "parse-ai-response",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [1120, 400]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [1340, 400]
        }
    ],
    "connections": {
        "Webhook CV Upload": {
            "main": [[{
                "node": "Extract File Content",
                "type": "main",
                "index": 0
            }]]
        },
        "Extract File Content": {
            "main": [[{
                "node": "Prepare Ollama Payload",
                "type": "main",
                "index": 0
            }]]
        },
        "Prepare Ollama Payload": {
            "main": [[{
                "node": "Call Ollama AI",
                "type": "main",
                "index": 0
            }]]
        },
        "Call Ollama AI": {
            "main": [[{
                "node": "Parse AI Response",
                "type": "main",
                "index": 0
            }]]
        },
        "Parse AI Response": {
            "main": [[{
                "node": "Respond to Webhook",
                "type": "main",
                "index": 0
            }]]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}
