Backend/n8n_workflows/cv-extract-data-ollama.json
{
    "name": "CV Extract Data (Ollama AI)",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-cv",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-ollama-1",
            "name": "Webhook CV Upload",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                400
            ],
            "webhookId": "upload-cv-ollama"
        },
        {
            "parameters": {
                "jsCode": "// Get extracted text from PHP proxy\nconst body = $input.item.json.body;\n\nif (!body || !body.extractedText) {\n  throw new Error('Missing extractedText in request body. PDF extraction failed in PHP proxy.');\n}\n\nconst extractedText = body.extractedText;\n\n// Validate text length\nif (extractedText.length < 50) {\n  throw new Error('Extracted text too short (' + extractedText.length + ' chars). PDF may be image-based or extraction failed.');\n}\n\nreturn {\n  fileName: body.fileName,\n  fileSize: body.fileSize,\n  mimeType: body.mimeType,\n  extractedText: extractedText,\n  savedFilePath: body.savedFilePath,\n  savedFileName: body.savedFileName,\n  extractedLength: extractedText.length\n};"
            },
            "id": "extract-file-ollama",
            "name": "Extract File Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare Ollama API payload\nconst extractedText = $input.item.json.extractedText;\n\nreturn {\n  payload: {\n    model: 'qwen2.5:7b',\n    prompt: 'Analyze the following CV/Resume text and extract candidate information. Look carefully for the candidate FULL NAME (both first name and last name), usually at the top of the CV. Return ONLY a valid JSON object with these exact fields: first_name, last_name, email, phone, linkedin, current_position, current_company, experience (years as integer), skills (array of skill names), location, expected_salary (number or null). IMPORTANT: If you cannot find last_name, try harder to find it in the document header, contact section, or signature. Extract only real data from the text, use null for missing information.\\n\\nCV Text:\\n' + extractedText + '\\n\\nJSON Response:',\n    stream: false,\n    options: {\n      temperature: 0.1,\n      top_p: 0.9\n    }\n  },\n  fileName: $input.item.json.fileName,\n  fileSize: $input.item.json.fileSize,\n  savedFilePath: $input.item.json.savedFilePath,\n  savedFileName: $input.item.json.savedFileName\n};"
            },
            "id": "prepare-ollama",
            "name": "Prepare Ollama Payload",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/generate",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.payload }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "ollama-api-cv",
            "name": "Call Ollama AI",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse AI response\nconst aiResponse = $input.item.json.response;\nconst prevData = $('Prepare Ollama Payload').item.json;\nconst fileName = prevData.fileName || '';\nconst extractedText = $('Extract File Content').item.json.extractedText;\n\n// Extract name from filename (e.g. \"Giuseppe Chiruzzi_Reactjs.pdf\" -> \"Giuseppe\" + \"Chiruzzi\")\nlet fileNameParts = fileName.replace(/\\.[^.]+$/, '').split(/[_\\s-]+/).filter(p => p.length > 2);\n\nlet extractedData = {};\n\ntry {\n  let jsonText = aiResponse.trim();\n  jsonText = jsonText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '');\n  extractedData = JSON.parse(jsonText);\n\n  // Use filename as fallback for missing/invalid names\n  let firstName = extractedData.first_name || fileNameParts[0] || 'Candidato';\n  let lastName = extractedData.last_name || fileNameParts[1] || 'DaCV';\n\n  // Validate names - ensure they're valid strings\n  if (!firstName || firstName.length < 2) {\n    firstName = fileNameParts[0] || 'Candidato';\n  }\n  if (!lastName || lastName.length < 3) {\n    lastName = fileNameParts[1] || 'DaCV';\n  }\n\n  extractedData = {\n    first_name: firstName,\n    last_name: lastName,\n    email: extractedData.email || 'candidato@temp.local',\n    phone: extractedData.phone || null,\n    linkedin: extractedData.linkedin || null,\n    current_position: extractedData.current_position || null,\n    current_company: extractedData.current_company || null,\n    experience: parseInt(extractedData.experience) || 0,\n    skills: Array.isArray(extractedData.skills) ? extractedData.skills : [],\n    location: extractedData.location || null,\n    expected_salary: extractedData.expected_salary || null,\n    status: 'New',\n    candidate_type: 'Employee'\n  };\n} catch (e) {\n  // On error, use filename for names\n  extractedData = {\n    first_name: fileNameParts[0] || 'Candidato',\n    last_name: fileNameParts[1] || 'DaCV',\n    email: 'candidato@temp.local',\n    phone: null,\n    linkedin: null,\n    current_position: null,\n    current_company: null,\n    experience: 0,\n    skills: [],\n    location: null,\n    expected_salary: null,\n    status: 'New',\n    candidate_type: 'Employee',\n    _error: e.message\n  };\n}\n\nreturn {\n  extractedData: extractedData,\n  extractedText: extractedText,\n  fileInfo: {\n    fileName: prevData.fileName,\n    savedFileName: prevData.savedFileName,\n    savedFilePath: prevData.savedFilePath\n  }\n};\n"
            },
            "id": "parse-ai-response",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare AI summary generation request\nconst extractedText = $input.item.json.extractedText;\nconst extractedData = $input.item.json.extractedData;\n\nconst candidateName = `${extractedData.first_name} ${extractedData.last_name}`;\nconst position = extractedData.current_position || 'Professional';\n\nreturn {\n  payload: {\n    model: 'qwen2.5:7b',\n    prompt: `You are a professional HR assistant. Create a concise, professional summary (2-3 sentences, max 150 words) of the following candidate CV. Focus on their key strengths, experience level, main skills, and career highlights. Write in third person.\\n\\nCandidate: ${candidateName}\\nCurrent Position: ${position}\\nYears of Experience: ${extractedData.experience}\\nKey Skills: ${extractedData.skills.join(', ')}\\n\\nCV Text:\\n${extractedText.substring(0, 3000)}\\n\\nWrite a professional summary in Italian:`,\n    stream: false,\n    options: {\n      temperature: 0.3,\n      top_p: 0.9\n    }\n  },\n  extractedData: extractedData,\n  fileInfo: $input.item.json.fileInfo\n};"
            },
            "id": "prepare-summary",
            "name": "Prepare AI Summary Request",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1340,
                400
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/generate",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ $json.payload }}",
                "options": {
                    "timeout": 120000
                }
            },
            "id": "ollama-summary",
            "name": "Generate AI Summary",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1560,
                400
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse AI summary response\nconst summaryResponse = $input.item.json.response;\nconst prevData = $('Prepare AI Summary Request').item.json;\n\nlet aiSummary = '';\n\ntry {\n  // Clean and extract summary\n  aiSummary = summaryResponse.trim();\n  // Remove markdown formatting if present\n  aiSummary = aiSummary.replace(/```.*?\\n?/g, '').trim();\n  \n  // Limit to 500 characters\n  if (aiSummary.length > 500) {\n    aiSummary = aiSummary.substring(0, 497) + '...';\n  }\n} catch (e) {\n  aiSummary = 'Summary generation failed.';\n}\n\nreturn {\n  success: true,\n  message: 'CV processed successfully with AI summary',\n  extractedData: {\n    ...prevData.extractedData,\n    ai_summary: aiSummary\n  },\n  fileInfo: prevData.fileInfo\n};\n"
            },
            "id": "finalize-response",
            "name": "Finalize Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1780,
                400
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                2000,
                400
            ]
        }
    ],
    "connections": {
        "Webhook CV Upload": {
            "main": [
                [
                    {
                        "node": "Extract File Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract File Content": {
            "main": [
                [
                    {
                        "node": "Prepare Ollama Payload",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Ollama Payload": {
            "main": [
                [
                    {
                        "node": "Call Ollama AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Ollama AI": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Prepare AI Summary Request",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare AI Summary Request": {
            "main": [
                [
                    {
                        "node": "Generate AI Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate AI Summary": {
            "main": [
                [
                    {
                        "node": "Finalize Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Finalize Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": []
}