Backend/n8n_workflows/cv-to-candidate.json
{
    "name": "CV to Candidate (Ollama AI)",
    "active": false,
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "upload-cv",
                "responseMode": "lastNode",
                "options": {}
            },
            "id": "webhook-trigger-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                240,
                300
            ],
            "webhookId": "shQUU95fAWbphdDo"
        },
        {
            "parameters": {
                "jsCode": "// Extract file content from JSON payload\nconst body = $input.item.json.body;\n\nif (!body || !body.fileContent) {\n  throw new Error('Missing fileContent in request body');\n}\n\n// Decode base64 file content\nconst fileBuffer = Buffer.from(body.fileContent, 'base64');\nconst fileContent = fileBuffer.toString('utf8');\n\nreturn {\n  fileName: body.fileName,\n  fileSize: body.fileSize,\n  mimeType: body.mimeType,\n  fileContent: fileContent\n};"
            },
            "id": "extract-file-1",
            "name": "Extract File Content",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/generate",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"qwen2.5:7b\",\n  \"prompt\": \"Estrai dal seguente CV tutti i dati utili per la creazione di un candidato (nome, cognome, email, telefono, posizione attuale, azienda, anni di esperienza, skills, location, expected_salary, ecc.). Restituisci SOLO un oggetto JSON valido senza altro testo. CV: \" + JSON.stringify($json.fileContent).slice(0, 5000),\n  \"stream\": false\n}",
                "options": {}
            },
            "id": "ollama-api-1",
            "name": "Call Ollama API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parsing AI response and mapping to candidate\nconst aiResponse = $input.item.json.response;\nlet candidateData = {};\ntry {\n  candidateData = JSON.parse(aiResponse);\n} catch (e) {\n  candidateData = {};\n}\nreturn candidateData;"
            },
            "id": "code-parse-1",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8080/candidates/index.php",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json}}",
                "options": {}
            },
            "id": "create-candidate-1",
            "name": "Create Candidate API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Extract File Content",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract File Content": {
            "main": [
                [
                    {
                        "node": "Call Ollama API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Ollama API": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Create Candidate API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "createdAt": "2025-11-07T00:00:00.000Z",
            "updatedAt": "2025-11-07T00:00:00.000Z",
            "id": "1",
            "name": "AI"
        }
    ]
}