Backend/n8n_workflows/cv-to-candidate.json
{
    "name": "CV to Candidate (Ollama AI)",
    "active": false,
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger-1",
            "name": "Manual Trigger",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "options": {},
                "propertyName": "cvFile"
            },
            "id": "read-binary-file-1",
            "name": "Read CV File",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:11434/api/generate",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"model\": \"qwen2.5:7b\",\n  \"prompt\": \"Estrai dal seguente CV tutti i dati utili per la creazione di un candidato (nome, cognome, email, telefono, posizione attuale, azienda, anni di esperienza, skills, location, expected_salary, ecc.). Restituisci i dati in formato JSON con le chiavi corrispondenti all’API CandyHire. CV: {{$binary.data.toString()}}\",\n  \"stream\": false\n}",
                "options": {}
            },
            "id": "ollama-api-1",
            "name": "Call Ollama API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parsing AI response and mapping to candidate\nconst aiResponse = $input.item.json.response;\nlet candidateData = {};\ntry {\n  candidateData = JSON.parse(aiResponse);\n} catch (e) {\n  candidateData = {};\n}\nreturn candidateData;"
            },
            "id": "code-parse-1",
            "name": "Parse AI Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://host.docker.internal:8080/candidates/index.php",
                "authentication": "none",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{$json}}",
                "options": {}
            },
            "id": "create-candidate-1",
            "name": "Create Candidate API",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1120,
                300
            ]
        }
    ],
    "connections": {
        "Manual Trigger": {
            "main": [
                [
                    {
                        "node": "Read CV File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read CV File": {
            "main": [
                [
                    {
                        "node": "Call Ollama API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call Ollama API": {
            "main": [
                [
                    {
                        "node": "Parse AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse AI Response": {
            "main": [
                [
                    {
                        "node": "Create Candidate API",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "createdAt": "2025-11-07T00:00:00.000Z",
            "updatedAt": "2025-11-07T00:00:00.000Z",
            "id": "1",
            "name": "AI"
        }
    ]
}